


<div class="row">
  <div class="col-sm-6">
    <h1>Conversations</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_conversation_path, class: 'btn btn-primary' do %>
    Add New Conversation
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @conversations.each do |conversation| %>
        <%= content_tag :tr, id: dom_id(conversation), class: dom_class(conversation) do %>
          

                      <td><%= conversation.user %></td>
          
          
            <td><%= link_to 'Show', conversation %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
